# History files
.Rhistory
.Rapp.history
# Example code in package build process

# RStudio files
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
# Emacs backup files
*~
.Rproj.user
*.Rproj
R/tutorial_cache/*
R/tutorial_files/*
R/tutorial.html

.RData
