.col-xs-4.col-sm-2.col-md-2.sidebar.sidebar-left.sidebar-animate.sidebar-sm-show
  %ul.nav.navbar-stacked.list-group
    %li
      = link_to 'About', '/book1.e1/about.html'
    %li
      = link_to 'Lab 2', '/str/Mod1_Lab2_SNP_FilteringI.html'
    %li
      = link_to 'Lab 3', '/str/Mod1_Lab3_Sample_Filtering.html'
