.col-xs-4.col-sm-2.col-md-2.sidebar.sidebar-left.sidebar-animate.sidebar-sm-show
  %ul.nav.navbar-stacked.list-group
    %li
      = link_to 'About', '/book.e1/about.html'
    %li
      = link_to 'Table of Contents (PDF)', 'http://www.springer.com/cda/content/document/cda_downloaddocument/9780387895536-t1.pdf?SGWID=0-0-45-771067-p173877421'
    %li
      = link_to 'Data', '/book.e1/data.html'
    %li
      = link_to 'Examples', '/book.e1/examples.html'
