---
title: Foulkes Lab at Mt Holyoke College
---

.jumbotron
  %h2 
    Open
    %img(src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/75px-R_logo.svg.png")/
    esources in Statistical Genomics
  %p ...an arsenal of analytic strategies, R code and teaching materials


%p 
  Defining best practices for genomic data pre-processing, analysis
  and post-analytic interrogation is essential for standardizing methods
  and ensuring reproducible findings. This website aims to facilitate
  statistical learning in the free, open-source
  = link_to 'R', 'http://www.r-project.org/'
  computing environment through various
  teaching materials as well as easily accessible tutorials. We provide
  well-documented code, methods, and bioinformatic resources that are
  commonly used in practice as well as descriptions on how to conduct
  your own genome-wide association (GWA) analysis. Topics covered
  include (but are not limited to) understanding genetic data formats,
  filtering data based on established criteria, understanding the 
  = link_to 'UCSC Genome Browser', 'http://genome.ucsc.edu/index.html'
  and much more.
  
%p 
  This growing resource hub equips users with teaching materials
  found under the 
  %b statsTeachR 
  tab. Each "module" contains slides
  covering basic concepts in the scope of genetic data analysis, as
  well as a series of lab assignments that walk the user through basic
  R coding, theory, and 
  %i On Your Own
  exercises. The GWAS modules, for
  example, cover topics related to conducting your own GWA data
  analysis as well as methods for interpretting results.

%p Explore the tutorial tab to find our full tutorial (link to paper?) in an easy to read and reproducible format. 
   This feature, while similar to the modules, is unique in that it allows users to seemlessly run a full GWA analysis
   on real data without the extra bells and whistles of a lesson plan.

%p
  This website is created and maintained by the Foulkes Lab located at Mount Holyoke College in South Hadley, MA. If you'd like to contact us, please refer to the 
  = link_to 'About', 'about.html'
  tab for more information. Funding for our team's work and this website is provided by NIH/NHLBI R01 HL107196.

