---
title: Foulkes Lab at Mt Holyoke College
---

.jumbotron
  %h2 Computational Resources for Statistical Genomics
  %p= lorem.sentences 3
  = link_to 'tut/tut_intro.html' do 
    %button.btn.btn-lg.btn-primary(type='button') Try the Tutorial!

.page-header
  %h1 Foulkes Lab at Mt Holyoke College

%p= lorem.paragraphs 3

%blockquote
  "Statistical Genomics is great."
  %br
  %footer Andrea Foulkes

%p= lorem.paragraphs 3

